@import "../helpers/mixins";
.pay-pal{
    min-height: 76vh;
    position: relative;
    padding: 100px 0 20px 0;
    @include media(mopile){
        min-height: 100vh;
           
                         }

    iframe{
    border: 2px solid !important;
    width: 50% !important;
    margin: auto !important;
    padding: 10px;
    border-radius: 10px;
    // height: 180px !important;
    // min-height: fit-content !important;
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%)!important;
    margin-top: 70px !important;
    @include media(mopile){
        margin-top: 250px !important;
        width: 90% !important;
           
                         }
 
    }
    .container{
        display: flex;
        flex-direction: column;
        gap: 70px;
        .price{
            margin: 20px auto;
            background-color: rgb(233, 191, 2);
            padding: 5px;
            border-radius: 10px;
            text-transform: capitalize;
            font-size: 22px;
            color: white;
            @include media(mopile){
               font-size: 13px;
               position: relative;
               top: 200px;
                   
                                 }
        }
    }
 
}
